<ion-header>
  <ion-toolbar>
    <ion-title>
      Lista de servicios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- fab placed to the bottom end -->
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-card>
  <ion-card-header>

    <ion-card-subtitle>Servicios</ion-card-subtitle>
  <ion-item>
    <ion-icon name="flame" slot="start"></ion-icon>
    <ion-card-title>METROGAS</ion-card-title>
    <ion-button fill="outline" slot="end">Ver servicio</ion-button>
  </ion-item>
  </ion-card-header>
  <ion-card-content>
    Breve descripción del servicio...
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>

    <ion-card-subtitle>Servicios</ion-card-subtitle>
  <ion-item>
    <ion-icon name="water" slot="start"></ion-icon>
    <ion-card-title>AYSA</ion-card-title>
    <ion-button fill="outline" slot="end">Ver servicio</ion-button>
  </ion-item>
  </ion-card-header>
  <ion-card-content>
    Breve descripción del servicio...
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>

    <ion-card-subtitle>Servicios</ion-card-subtitle>
  <ion-item>
    <ion-icon name="call" slot="start"></ion-icon>
    <ion-card-title>TELECOM</ion-card-title>
    <ion-button fill="outline" slot="end">Ver servicio</ion-button>
  </ion-item>
  </ion-card-header>
  <ion-card-content>
    Breve descripción del servicio...
  </ion-card-content>
</ion-card>

  <ion-card>
    <ion-card-header>

      <ion-card-subtitle>Servicios</ion-card-subtitle>
    <ion-item>
      <ion-icon name="outlet" slot="start"></ion-icon>
      <ion-card-title>EDENOR</ion-card-title>
      <ion-button fill="outline" slot="end">Ver servicio</ion-button>
    </ion-item>
    </ion-card-header>
    <ion-card-content>
      Breve descripción del servicio...
    </ion-card-content>
  </ion-card>

</ion-content>
