<ion-header>
  <ion-toolbar>
    <ion-title>
      Lista de servicios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- fab placed to the bottom end -->
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>


  <ion-card >
    <ion-card-header>
      <ion-card-subtitle>Servicios</ion-card-subtitle>
      <ion-card-title>EDENOR</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Breve descripción del servicio...
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Servicios</ion-card-subtitle>
      <ion-card-title>AYSA</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Breve descripción del servicio...
    </ion-card-content>

  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Servicios</ion-card-subtitle>
      <ion-card-title>METROGAS</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Breve descripción del servicio...
    </ion-card-content>

  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Servicios</ion-card-subtitle>
      <ion-card-title>TELECOM</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Breve descripción del servicio...
    </ion-card-content>

  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Servicios</ion-card-subtitle>
      <ion-card-title>FIBERTEL</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Breve descripción del servicio...
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Servicios</ion-card-subtitle>
      <ion-card-title>EXPENSAS</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Breve descripción del servicio...
    </ion-card-content>

  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Servicios</ion-card-subtitle>
      <ion-card-title>ALQUILER</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Breve descripción del servicio...
    </ion-card-content>

  </ion-card>

  <ion-list>
    <ion-reorder-group (ionItemReorder)="onRenderItems($event)" disabled="false">

      <ion-item *ngFor="let item of listItems">
        <ion-label>
          {{item}}
        </ion-label>
        <ion-reorder></ion-reorder>
      </ion-item>

    </ion-reorder-group>
  </ion-list>
  <ion-list text-center>
    <ion-button (click)="getList()">
      Get Updated List
    </ion-button>
  </ion-list>


</ion-content>
